@model DZ_7_My_Blog.Models.Post
<div class="col col-lg-4 col-md-6 col-12">
<div class="card h-100 border-0">
<a asp-action="Details"
asp-route-id="@Model.Id">
<img src="data:image/*;base64,@(Convert.ToBase64String(Model.MainPostImage))"
class="card-img-top"
alt="@Model.Title">
</a>
<div class="card-body">
</div>
<div class="card-footer bg-white">
<h5 class="card-title">
<a asp-action="Details"
asp-route-id="@Model.Id"
class="text-decoration-none">@Model.Title</a>
</h5>
<p class="card-text">
<a asp-action="Index"
asp-route-categoryId="@Model.Category!.Id"
class="badge text-bg-warning rounded-pill">@Model.Category?.Name</a>
</p>
</div>
</div>
</div>