@model IEnumerable<DZ_5.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a style="background-color:gainsboro">Поиск по Книгам:</a>
</p>
<form asp-action="Index">
    <p>
        Название: <input type="text" name="name" />
        Стиль: <input type="text" name="style" />
        Дата: <input type="datetime-local" id="meeting-time"
       name="date">
        ФИО: <input type="text" name="fio" />
        <input type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
           </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              <a id="btn" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<vc:LastViewedBooks />
@await Component.InvokeAsync("LastViewedBooks")